kube_context = "k3d-archpo-local"

app_shared_secrets = {
  INTERNAL_API_TOKEN = "demo-internal-token-change-me"
  ENCRYPTION_KEY     = "demo-local-encryption-key-change-me"
}

jwt_secrets = {
  JWT_SECRET_KEY = "demo-jwt-secret-change-me"
  JWT_ALGORITHM  = "HS256"
}

postgres_secret = {
  POSTGRES_USER     = "archpo"
  POSTGRES_PASSWORD = "demo-postgres-password"
  POSTGRES_DB       = "archpo"
}

mongo_secret = {
  MONGO_INITDB_ROOT_USERNAME = "archpo"
  MONGO_INITDB_ROOT_PASSWORD = "demo-mongo-password"
}

redis_secret = {
  REDIS_PASSWORD = "demo-redis-password"
}

minio_secret = {
  MINIO_ROOT_USER     = "archpo"
  MINIO_ROOT_PASSWORD = "demo-minio-password"
}
